*{
    margin: 0;
    font-family: Poppins;
    overflow: hidden;
}

header{
    width: 1311px;
    height: 202px;
    background-image: url("images/bg-desktop-light.jpg");
}

header h1{
    color: #fff;
    font-size: 40px;
    line-height: normal;
    font-weight: 700px;
    padding-top: 53px;
    padding-left: 152px;
}

header .fa-moon{
    color: #fff;
    width: 45.4px;
    height: 47px;
    font-size: 40px;
    flex-shrink: 0;
    position: absolute;
    right: 205px;
    left: 1059px;
    bottom: 89px;
    top: 66px;
}

.container{
    position: absolute;
    width: 537px;
    height: 43px;
    background-color: #fff;
    left: 387px;
    right: 387px;
    top: 129px;
    border-radius: 30px;
    flex-shrink: 0;
}

input{
    width: calc(537px - 85px);
    height: 41px;
    border: 0;
    outline: 0;
    cursor: text;
    border-radius: 30px;
    font-size: 12px;
    font-family: Raleway;
    line-height: normal;
    font-style: normal;
    padding-left: 33px;
    flex-shrink: 0;
}

button{
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    position: relative;
    bottom: 43px;
    left: 452px;
    width: 85px;
    height: 43px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #8a2be2;
    color: #fff;
    flex-shrink: 0;
}

button:hover{
    background-color: rgba(138, 43, 226, 45%);
    color: rgba(128, 128, 128, 100%);
}

  #container{
    width: 663px;
    height: 127px;
    background: rgba(217, 217, 217, 50%);
    margin: 32px 324px;
    border-radius: 30px;
    -webkit-user-select: none;
    user-select: none;
    text-align: justify;
  }

  ul{
    padding-top: 11px;
    padding-bottom: 22px;
    padding-left: 49px;
    padding-right: 51px;
  }

  ul li{
    position: relative;
    font-size: 16px;
    font-family: Raleway;
    font-weight: 400px;
    line-height: normal;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding-top: calc(28px - 19px);
    padding-bottom: calc(28px - 19px);
    padding-left: 39px;
  }

  ul li::before{
    content: "";
    border: 1px solid #8a2be2;
    border-radius: 28px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    width: 28px;
    height: 28px;
    top: 5px;
    bottom: 8px;
    right: 532px;
  }

  hr{
    border: 1px solid #000;
    width: 563px;
    margin-top: 12px;
    margin-bottom: 15px;
  }

  ul li.checked{
    text-decoration: line-through;
  }

  ul li.checked::before{
    background-image: url("images/checked.png");
    background-size: cover;
    background-position: center;
  }

#category{
    margin-left: 365.5px;
    margin-right: 426.5px;
    margin-top: 143px;
    width: 567.5px;
    height: 37px;
    padding-top: 14px;
}

#category a{
    margin-right: 88px;
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
}

#category a:first-of-type{
    margin-left: 88px;
}

#category a:active{
    color: #8a2be2;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #8a2be2;
}

.attribution{
    font-family: Raleway;
    margin-left: 372px;
    margin-right: 360px;
    margin-top: -4px;
    display: flex;
    width: 579px;
    height: 33px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.attribution a{
    margin-left: 2px;
    font-family: Raleway;
    color: #000;
    text-decoration: none;
}

.attribution a:hover{
    color: #8a2be2;
}